# Built configuration.
Makefile
config.h
config.log
config.status
options.h

# Built binaries.
src/*.o
src/json/*.o
src/info_slave
src/netmud
src/netmud~

# Built sources.
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
src/Makefile
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/local.c
test/alltests.sh

# Sources modified during build we aren't interested in tracking. Alas,
# ignoring them doesn't do any good.
#game/txt/hlp/index.hlp
#hdrs/svninfo.h

# Runtime files.
game/info_slave
game/netmush
game/netmush.pid
game/ssl_slave
game/alias.cnf
game/mush.cnf
game/names.cnf
game/restrict.cnf
game/data/
game/log/
game/txt/
