# Built configuration.
Makefile
config.h
config.log
config.status
options.h

# Built binaries.
src/*.o
src/json/*.o
src/info_slave
src/netmud
src/netmud~
src/ssl_slave

# Built sources.
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
hdrs/svninfo.h
src/Makefile
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/local.c
test/alltests.sh

# Runtime files.
game/info_slave
game/netmush
game/netmush.pid
game/ssl_slave
game/alias.cnf
game/mush.cnf
game/names.cnf
game/restrict.cnf
game/data/
game/log/
game/txt/
game/save/

# Text files.
game/txt/hlp/index.hlp
game/txt/nws/index.nws
game/txt/ahelp/index.ahelp
game/txt/compose.sh
game/txt/help.txt
game/txt/events.txt
game/txt/news.txt
game/txt/ahelp.txt

# Ruby implementation-specific files.
game/ruby/config.yml
